body{
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    text-align: center;
}
ul{
    list-style: none;
}

.header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #1F2937; 
    padding: 1rem;
    flex-wrap: wrap; 
}
.header-logo{
    width: 12rem;
    height: auto;
}
.header ul{
    display: flex;
    padding: 0;
}

.links{
     margin: 1.25rem; 
     font-size: 1.5rem; 
     color: #F9FAF8;
     text-decoration: none;
}

.hero-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 2.2rem;
    font-weight:900;
    padding: 2.5em;
    justify-content: space-around;
    align-items: center;
}
.hero-container img{
    max-width: 25%;
    min-width: 20rem;
    /* height: auto; */
    object-fit: cover;
    margin: 0.3em;
    border-radius: 2.25rem;
    border-style: inset;
    border-width: 0.1rem;
    border-color:#bfbfbf;
}
.image-container ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: space-evenly;
    /* flex-direction: column; */
}

.image-text{
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
}
.image-container img{
    width: 22rem;
    /* padding: 0.5rem; */
    /* height: auto; */
    object-fit: cover;
    margin: 0.3rem;
    border-radius: 5%;
    border-style: inset;
    border-width: 0.15rem;
    border-color: #3882F6;
    
}
.quote-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #E5E7EB;
    padding: 2rem 2rem;
    justify-content: center;
    align-items: center;
}
.quote{
    font-size: 2.25em;
    color: #1F2937;
    font-weight:lighter;
    font-style: italic;
}
.quote span{
    text-align: end;
    font-weight: bold;
}

.call-container{
    display: flex;
    flex-wrap: wrap;
    background-color: #3882F6;
    /* justify-content: space-around; */
    padding: 2rem;
    margin: 2rem;
    border-radius: 30.3rem;
    font-size: 2rem;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.call-container button{
    /* margin: 0.5rem 1rem 0 1rem; */
    background-color: #3882F6;
    border-radius: 5%;
    color: white;
    border-color: white;
    border-width: 0.125rem;
    border-style: solid;
    border-radius: 0.625rem;
    font-size: 1.5rem;
}

.footer{
    background-color: #1F2937;
    font-size: 0.8rem;
    color: #F9FAF8;
    text-align: center;
    padding: 1rem;
}
#credits{
    gap: 2rem;
}
.footer a {
    text-decoration: none;
    color: #F9FAF8;
}